html {
  background-size: cover;
  background: url("../images/noiseporn-247586-unsplash.jpg") no-repeat center center fixed;
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #dedede;
  font-family: 'Lato', Arial, sans-serif;
  margin: 0;
  text-align: center;
}

@-webkit-keyframes letters {
  50% {
    -webkit-transform: translateY(-5px) scale(1.05);
            transform: translateY(-5px) scale(1.05);
  }
}

@keyframes letters {
  50% {
    -webkit-transform: translateY(-5px) scale(1.05);
            transform: translateY(-5px) scale(1.05);
  }
}

@-webkit-keyframes winner {
  0% {
    color: #8ea604;
  }
  25% {
    color: #f5bb00;
  }
  50% {
    color: #ec9f05;
  }
  75% {
    color: #d76a03;
  }
  100% {
    color: #bf3100;
  }
}

@keyframes winner {
  0% {
    color: #8ea604;
  }
  25% {
    color: #f5bb00;
  }
  50% {
    color: #ec9f05;
  }
  75% {
    color: #d76a03;
  }
  100% {
    color: #bf3100;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes message-collapse {
  0% {
    max-height: 70px;
  }
  100% {
    max-height: 0;
    padding: 0;
  }
}

@keyframes message-collapse {
  0% {
    max-height: 70px;
  }
  100% {
    max-height: 0;
    padding: 0;
  }
}

.flash-warning {
  -webkit-animation-delay: 1s, 3s;
          animation-delay: 1s, 3s;
  -webkit-animation-duration: 2s, 300ms;
          animation-duration: 2s, 300ms;
  -webkit-animation-fill-mode: both, both;
          animation-fill-mode: both, both;
  -webkit-animation-name: fade-out, message-collapse;
          animation-name: fade-out, message-collapse;
  background-color: rgba(211, 191, 0, 0.8);
  border-radius: 8px;
  color: #9e0019;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem;
  display: block;
}

.game__word-guess {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.651);
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  min-height: 100vh;
}

.game__title {
  font-size: 6rem;
  margin: 0;
}

.game__title h1 {
  font-family: 'Yellowtail', cursive;
  margin: 0 0 1.5rem 0;
}

.score-board {
  align-items: center;
  background: #dedede;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-around;
  width: 400px;
}

.score-board__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  width: 100px;
}

.score-board__block-number {
  color: #000;
  font-size: 2rem;
}

.score-board__block-string {
  color: gray;
  font-size: 0.8rem;
  line-height: 2rem;
}

.game__instructions {
  margin: 1.5rem 0 1rem 0;
}

.game__instructions > h2 {
  margin-bottom: 0;
}

.game__notice {
  height: 70px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.game__word {
  background-color: rgba(235, 0, 37, 0.35);
  border-radius: 8px;
  padding: 1rem;
}

.letter,
.used-letters,
.guessed-letter,
.word {
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.letter,
.guessed-letter {
  border-bottom: 10px solid;
  display: inline-block;
  font-size: 5rem;
  margin: 0 1rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

.letter {
  border-bottom-color: #dedede;
  color: transparent;
}

.guessed-letter {
  border-bottom-color: rgba(222, 222, 222, 0.5);
}

.correct,
.incorrect {
  -webkit-animation: letters .3s ease;
          animation: letters .3s ease;
}

.correct {
  color: #dedede;
}

.incorrect {
  color: rgba(222, 222, 222, 0.6);
}

.game__hint {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 1rem 0;
}

.game__hint > i {
  font-family: 'Yellowtail', cursive;
  font-size: 3rem;
}

.game__hint > i:after {
  content: ' ';
}

.letters-attempted {
  color: rgba(222, 222, 222, 0.25);
  display: none;
  font-size: 1.5rem;
  margin: 1rem;
}

.game-won {
  -webkit-animation-name: winner;
          animation-name: winner;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-family: 'Yellowtail', cursive;
}

.game-lost {
  color: #9e0019;
}

.timer__overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.timer__message {
  font-size: 9rem;
}

.timer__patience {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.timer__time-left {
  font-size: 10rem;
  font-weight: 400;
  margin: 0;
  position: relative;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}
